input {
  display: block;
  width: 98%;
  margin: 0.7rem 0;
  padding: 0.6rem 1rem 0.6rem 0.3rem;
  border-radius: 0.2rem;
  background-color: #fdfdfd;
  border: 1px solid rgb(150, 150, 150);
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

input:focus {
  border-color: rgba(0, 115, 247, 0.507);
  box-shadow: 1px 1px 2px 3px rgba(0, 115, 247, 0.233);
}

.error-message {
  font-size: 12px;
  color: rgb(255, 110, 117);
  margin: 0.5rem 0;
}
.span-required {
  color: rgb(255, 91, 91);
}
