.contract-card {
  padding: 1rem;
  box-shadow: 2px 4px 10px 0px rgb(175, 175, 175);
  flex: 0 0 30%;
  text-align: center;
}

.contract-header {
  border-bottom: 1px solid #ececec;
}
.link-container > a {
  padding: 0.5rem 1.2rem;
  border: 1px solid;
  background-color: rgb(255, 255, 255);
  border-color: rgb(108, 160, 255);
  color: rgb(108, 160, 255);
  text-decoration: none;
  margin: 2%;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.link-container > a:hover {
  background-color: rgb(108, 160, 255);
  color: white;
}

@media only screen and (max-width: 1058px) {
  .contract-card {
    flex: 0 0 40%;
  }
}

@media only screen and (max-width: 734px) {
  .contract-card {
    flex: 0 0 100%;
  }
}
