.home-container {
  display: flex;
  width: 80%;
  justify-content: center;
  min-height: 70vh;
  margin: 2% 5%;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'brand brand'
    'work work';
  gap: 2rem;
}
.brand {
  color: rgb(242, 78, 79); /*rgb(242, 78, 79)*/
  letter-spacing: 2px;
}
.brand-container {
  grid-area: brand;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column wrap;
}
.home-img {
  height: auto;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.home-img:hover {
  transform: scale(1.05);
}

.work-container {
  grid-area: work;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border-radius: 5px;
  max-height: 25rem;
  max-width: 25rem;
  padding: 0 2rem;
  border: 2px solid #ececec;
  margin: 0 2.5%;
}
.restaurant-container {
  flex: 0 0 35%;
}

.contract-container {
  flex: 0 0 35%;
}

.home-link-container > a {
  padding: 0.6rem 3rem;
  border: 1px solid;
  background-color: rgb(255, 255, 255);
  border-color: rgb(108, 160, 255);
  color: rgb(108, 160, 255);
  text-decoration: none;
  margin: 2%;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

.home-link-container > a:hover {
  background-color: rgb(108, 160, 255);
  color: white;
}

.home-auth-container {
  text-align: center;
}

.homeauth-img {
  max-width: 30rem;
}

@media only screen and (max-width: 880px) {
  .card {
    margin: 2.5%;
  }
  .restaurant-container {
    flex: 0 0 80%;
  }

  .contract-container {
    flex: 0 0 80%;
  }
}
