.filter-form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.filter-title {
  flex: 100%;
}

.filter-input {
  display: block;
  flex: 0 0 25%;
  margin: 0 2.5%;
  padding: 0.6rem 1rem 0.6rem 0.3rem;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.1s ease-in-out;
}
.filter-input:focus {
  border-bottom-color: rgba(0, 115, 247, 0.507);
}

@media only screen and (max-width: 1034px) {
  .filter-input {
    flex: 0 0 90%;
  }
}
