*,
*::after,
*::before {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  overflow-wrap: break-word;
}

code {
  font-family: 'Roboto', sans-serif;
}
